* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.bg img {
  width: auto;
}
.wrapper {
  min-height: 100vh;
}
header {
  height: 110px;
  display: flex;
  align-items: center;
}
main,
header {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  width: 140px;
}

.logo img {
  width: 100%;
}

main {
  height: 100vh;
  margin-top: -110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main h1 {
  font-size: 96px;
  font-family: "MADE Sunflower";
  font-weight: 400;
  margin-bottom: 30px;
}

main p {
  max-width: 530px;
  line-height: 36px;
  font-size: 20px;
  font-family: sans-serif;
  margin-bottom: 50px;
}

.form-box {
  position: relative;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

input {
  height: 60px;
  width: 600px;
  border: none;
  background-color: #fff;
  box-shadow: -18px 20px 21px -10px rgba(145, 145, 145, 0.11);
  border-radius: 5px;
  outline: none;
  transition: 0.2s ease-in-out;
  padding-left: 20px;
  font-size: 20px;
}

input:focus {
  box-shadow: -18px 20px 21px -15px rgba(145, 145, 145, 0.11);
}

input::-webkit-input-placeholder {
  color: #cccccc;
}

input::-moz-placeholder {
  color: #cccccc;
}

input:-ms-input-placeholder {
  color: #cccccc;
}

input::-ms-input-placeholder {
  color: #cccccc;
}

input::placeholder {
  color: #cccccc;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}
